#wrapper_1 {
	width: 1024px;
	min-height:500px;
	margin:0 auto;
	padding: 0px;
}

#custom_0 {width:490px; hecight:200px; float: left; padding: 0px 20px 0px 0px; margin: 0;  border:0px solid red;}
#custom_1 {width:490px; hecight:200px; float: left; padding: 0px 0px 0px 0px; margin: 0;  border:0px solid red;}