/* Admin */
.dmod_menu_grd_admin_menu table { border: 1px solid black; border-collapse: collapse; color: #000000;  font-size: 8px; background-color: transparent; margin-bottom: 20px; }
.dmod_menu_grd_admin_menu th { padding: 5px; border: 1px solid #3a3858; border-collapse: collapse; font-size: 10px; font-weight: bold; color: #ffffff; background-color: #5e607b; } /*5e607b*/
.dmod_menu_grd_admin_menu td { padding: 5px; border: 1px solid #5e607b; border-collapse: separate; font-size: 8px; font-weight: normal; color: #000000; background-color:transparent; backdground-cfolor: #3a3858; }

.dmod_menu_txt_menu_id { font-weight:bold; width:140px; }
.dmod_menu_txt_menu_text { width:140px; }
.dmod_menu_lnk_up { width:20px; }
.dmod_menu_lnk_down { width:20px; }
.dmod_menu_lst_parent_id { width:140px; }
.dmod_menu_chk_enabled { width:20px; }
.dmod_menu_lst_page_id { width:140px; }
.dmod_menu_txt_url { width:215px; }
.dmod_menu_lnk_delete { width:20px; }

.dmod_menu_lnk_add_menu { color: #80ff80; margin-top:15px !important; }
.dmod_menu_btn_submit_page { position:absolute; top:40px; left:870px; } 
